# Copyright 2025 Martin Bach
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---

- name: Post installation steps for Oracle Linux 9
  hosts: all
  become: true
  vars:
    mount_dir: /vbox

  tasks:
    - name: Upgrade all packages (this can take a while)
      ansible.builtin.dnf:
        name: '*'
        state: latest  # noqa: package-latest

    - name: Reboot to apply potential kernel changes
      ansible.builtin.reboot:

    - name: Install generic auxiliary packages
      ansible.builtin.dnf:
        name: "{{ packages }}"
        state: present
      vars:
        packages:
          - curl
          - bzip2
          - wget
          - unzip
          - kernel-uek-devel
          - oracle-epel-release-el9

    - name: Remove unneeded packages
      ansible.builtin.dnf:
        autoremove: true

    #
    # VBox specific tasks
    # These have not been validated in a while, please raise an issue
    # if you encounter a problem with this section
    #

    - name: Complete Virtualbox-specific tasks
      when: ansible_virtualization_type == "virtualbox"
      block:
        - name: Install DKMS from the OL8 EPEL repository
          ansible.builtin.dnf:
            name: dkms
            enablerepo: ol9_developer_EPEL
            state: present

        - name: Create a temporary mount point for vbox guest additions
          ansible.builtin.file:
            path: "{{ mount_dir }}"
            state: directory
            mode: "0755"

        # as per `guest_additions_path` in Packer's configuration file
        - name: Mount guest additions ISO read-only
          ansible.posix.mount:
            path: "{{ mount_dir }}"
            src: /home/vagrant/VBoxGuestAdditions.iso
            fstype: iso9660
            opts: ro
            state: mounted

        # in case running kernel modules are detected using `failed_when` can prevent an error
        - name: Execute guest additions script # noqa: no-changed-when
          ansible.builtin.command: "{{ mount_dir }}/VBoxLinuxAdditions.run"
          register: modules
          failed_when:
            - modules.rc != 0
            - modules.rc != 2

        - name: Unmount guest additions ISO
          ansible.posix.mount:
            path: "{{ mount_dir }}"
            state: absent

        - name: Remove the temporary mount point
          ansible.builtin.file:
            path: "{{ mount_dir }}"
            state: absent

    #
    # KVM specific tasks
    #

    - name: Specific kvm-qemu-libvirt-specific tasks
      when: ansible_virtualization_type == "kvm"
      block:
        - name: Install qemu guest agent and spice vdagent
          ansible.builtin.dnf:
            name: "{{ packages }}"
            state: present
          vars:
            packages:
              - spice-vdagent
              - qemu-guest-agent
